<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="prod"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="FinPim">
         <property
               name="appName"
               value="FinPim">
         </property>
         <property
               name="applicationXMI"
               value="mhFinPim/Application.e4xmi">
         </property>
         <property name="lifeCycleURI" value="bundleclass://mhFinPim/de.mho.finpim.lifecycle.Manager"></property>
      </product>
   </extension>

</plugin>
